**/.DS_Store
.vscode
final_project_devctr-main/auth.json
final_project_devctr-main/connection.json
final_project_devctr-main/run.sh
final_project_devctr-main/build.sh
final_project_devctr-main/src/cache